/*
!.bash_profile
!.global_gitignore
!.gitconfig
!.emacs.d/
!.gitignore
!.pylintrc
!.config/

.emacs.d/*~
.emacs.d/*.dat
.emacs.d/ido*
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/.python-environments/
.emacs.d/smex-items
.emacs.d/eshell/

.config/fish/fish_history
.config/fish/fishd*
.config/gtk*
