/*
!.bash_profile
!.global_gitignore
!.emacs.d/
!.gitignore
!.pylintrc

.emacs.d/*~
.emacs.d/*.dat
.emacs.d/ido*
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/.python-environments/
.emacs.d/smex-items
