[core]
	excludesfile = /Users/mattm/.gitignore_global
	pager = diff-so-fancy | less --tabs=1,5 -R
[user]
	name = Matthew Madurski
	email = mmadurski@managedbyq.com
	signingkey = ADAFB3A1
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[commit]
	gpgsign = true
